DerivedData
Lua/Lua.xcodeproj/xcuserdata
Lua/Lua.xcodeproj/project.xcworkspace/xcuserdata
Tranquil.xcodeproj/project.xcworkspace/xcuserdata
Tranquil.xcodeproj/xcuserdata
Lua/build
build
.idea
libluajit.so
libluajit.a
